{% extends 'layout.html' %}
{% load static %}

{% block content %}

<nav class="navbar navbar-dark navbar-expand-md navigation-clean-search" style="background-color: #121312; height: 50px;">
    <div class="container">
        <a class="navbar-brand" href="/#">Wazonowo.net</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Włącz nawigacje</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="/#oferta">Oferta</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="/#kontakt">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" style="width: 100%; height: 100%;">
    <a class="error-text" style="font-size: 30px;">{% block error_content %}{% endblock %}</a><br>
    W razie dalszych problemów skontaktuj się z nami <a class="error-text" href="mailto:kontakt@wazonowo.net">kontakt@wazonowo.net</a>
    <small><a class="go-back-link" href="/">Wróć na stronę główną.</a></small>
</div>

{% endblock %}